* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020112;
    font-family: Inter, Arial;
    overflow: hidden;

    &:before{
        content: '';
        position: absolute;
        inset: 40% -60% 0 -60%;
        background-image: radial-gradient(ellipse at bottom, #1D0559 0%, #020112 50%);
        opacity: .4 ;
     }
}

.glowButton {
    --button-shine-left: rgba(120, 0, 245, 0.5);
    --button-shine-right: rgba(200, 148, 255, 0.65);
    --button-glow-start: #B000E8;
    --button-glow-end: #009FFD;

    font-family: inherit;
    z-index: 1;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    background: none;
    appearance: none;
    color: #fff;
    position: relative;
    line-height: 24px;
    padding: 0;
    margin: 0;
    box-shadow: 0 8px 20px rgba(33, 4, 104, 0.2);

    .gradient{
        position: absolute;
        inset: 0;
        border-radius: inherit;
        overflow: hidden;
        transform: scaleY(1.02) scaleX(1.005) rotate(-.35deg);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            padding-bottom: 100%;
            border-radius: 50%;
            transform: scale(1.05) translateY(-44px) rotate(0deg);
            background: linear-gradient(90deg, var(--button-shine-left), var(--button-shine-right));
            animation: rotate linear 2s infinite;
         }
    }

    span {
        z-index: 1;
        position: relative;
        display: block;
        padding: 10px 28px;
        width: fit-content;
        min-width: 124px;
        border-radius: inherit;
        background-color: #09041e;
        overflow: hidden;

        &:before {
            content : '';
            position: absolute;
            left: -16px;
            top: -16px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: var(--button-glow, transparent);
            opacity: var(--button-glow-opacity, 0);
            transition: opacity var(--button-glow-duration, .5s);
            filter: blur(20px);
            transform: translate(var(--pointer-x, 0px), var(--pointer-y, 0px));
         }
    }

    &:hover {
        --button-glow-opacity: 1;
        --button-glow-duration: .25s;
     }
}

@keyframes rotate {
    to {
        transform: scale(1.05) translateY(-44px) rotate(360deg) translateZ(0);
    }
}